

  <div class="ui segment">
  <!-- ユーザーネーム -->
    <strong>Commenter:</strong>
    <%= comment.user.user_name %> <br>
  <!-- コメント -->
    <strong>Comment:</strong>
    <%= comment.content %>
  </div>