
<%= form_for([@project, @project.comments.build],  html: {class: 'ui form'}) do |f| %>
    <!-- user_idを入れる -->
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <!-- コメント記入欄 -->
    <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "コメントする", class: :"ui yellow submit button" %>
  </p>
<% end %>