<% if !@project.entried_by? current_user %>
 <% if @project.user.id != current_user.id %>
    <%= form_for([@project, @project.entries.build]) do |f| %>
        <!-- user_idを入れる -->
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <!-- project_idを入れる -->
        <%= f.hidden_field :projec_id, :value => @project.id %>
        <p>
        <%= f.submit '応募', class: :"ui button" %>
      </p>
    <% end %>
 <% end %>
<% else %>
        <button class="ui button">応募中</button>
<% end %>
