<div class="three wide column">
  <h3 style="text-align:center;"><i class="user circle outline icon"></i>ソーシャルスタイル</h3>
  
  <hr></hr>

  <%= render "users/socialstyle" %>
  <h3 style="text-align:center;"><i class="write square icon"></i>人気のプロジェクト</h3>
  
  <hr></hr>
  
  <!--  人気のプロジェクト -->
  <%= render "shares/side_project", projects: @populars %>
</div>