<div class="ui card">
    
<div class="image">
  <%= image_tag "emiable.jpg" %>
</div>
<div class="content">
  <span class="header"><%= @user.socialstyle %></span>
  <div class="description">
    Kristy is an art director living in New York.
  </div>
</div>
<div class="extra content">
  <a>
    <i class="user icon"></i>
    他の<%= @user.socialstyle %>をみる
  </a>
</div>
</div>