
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column" style="text-align:center;">
        お問い合わせいただきありがとうございました。<br>
        <%= link_to "ホームへ", root_path %>
    </div>
    <div class="column"></div>
  </div>
</div>