
<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide column">
      <table>
        <tr>
          <th>作成者</th>
          <th>作りたいもの</th>
        <!-- <th>期間</th> -->
          <th>照会</th>
        </tr>
      <% @recruits.each do |recruit| %>
        <tr>
          <td><%= recruit.user.user_name %></td>
          <td><%= recruit.create_title%></td>
        <!-- <td><%= recruit.period %></td> -->
          <td><%= link_to '詳しく見てみる', recruit_path(recruit) %></td>
        </tr>
      
      <% end %>
      </table>
      </p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>
