<h1>girujinia</h1>
<br>
<p>ようこそ <strong><%= @email %></strong> さん!</p>

<br>
<h3>下記のアカウント登録を押下すると本登録されます</h3>

<button class="massive ui button"><font><font>
  <%= link_to 'アカウント登録', confirmation_url(@resource, confirmation_token: @token) %>
</font></font></button>
<br>
<h4>※アカウント登録を押下されないと本登録ができていない状態になります</h4>

<!--  ========================= デザイン ====================== -->
